@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Righteous', cursive;
}

